body{
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #0A1F44 !important;
}

.navbar-brand{
    width: 4%;;
    height: 7%;
}

.row {
    margin: 0; /* Remove row margins */
}

.col-lg-2, .col-lg-10, .col-lg-9{ 
    padding: 0; /* Remove column padding */
}

.container{
    padding: 0;
}

footer{
    background: linear-gradient(90deg, #0A1F44 0%, #D9EFFF 100%);
}

.main-body{
    min-height: 87vh;
    padding: 0;
}

.upper-nav{
    border-bottom: 2px solid white;
}

.card{
    border: none !important;
    padding: 1rem 0;
}

.card:hover{
    background-color: #eeedf0;
}

.btn-add-cart{
    background-color: #0A1F44; 
    color: white;
}

.btn-general{
    background-color: #0A1F44; 
    color: white;
}

.btn-continue{
    background-color: #D9EFFF;
    color: #0A1F44;
}

.btn-add-cart:hover, .btn-continue:hover, .btn-general:hover, .btn-panel:hover{
    background-color: #7d0606;
    color: white;
}

.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-item img{
    width: 600px;
    height: 500px;
    object-fit: cover;
}

.cart-img{
    width: 90px;
    height: 90px;
    object-fit: contain;
}

td, th{
    vertical-align: middle;
}

.btn-panel{
    background-color: #0A1F44;
}

.card-img-pay{
    width: 30%;
    height: 30%;
    object-fit: contain;
}

.profile-img{
    width: 85%;
    height: 40%;
    object-fit: cover;
}

.edit-img{
    width: 20%;
    height: 20%;
    object-fit: contain;
}

/* rating */

.star-light{
    color:#bbb5!important
}

.text-warning{
    color:rgb(250, 143, 43)!important
}

.submit_star{
    cursor: pointer;
}

/* review */
.review_img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.owner-pic{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.chat-container {
    display: flex;
    flex-direction: column;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 1rem; /* Adjust as needed for spacing */
}

.message-sender {
    background-color: #d1e7dd; /* Light green */
    color: #0f5132;
    padding: 8px;
    border-radius: 8px;
    text-align: right;
    margin: 5px 0;
}

.message-receiver {
    background-color: #d3d3d3; 
    color: black;
    padding: 8px;
    border-radius: 8px;
    text-align: left;
    margin: 5px 0;
}

.chat-form {
    position: sticky;
    bottom: 0;
    padding: 0.5rem;
    z-index: 10;
}


.btn-chat{
    border: none;
    margin: none;
    padding: none;
    background-color: transparent;
}

.btn-chat-submit{
    font-size: 2.3rem;
    color: #0A1F44;
}